<nav class="container">
  <div class="row">
    <ul class="col-md-6 nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Movies</a>
      </li>
    </ul>
    <ul class="col-md-6 nav">
      <li class="nav-item">
        <a class="nav-link" href="/new">Add New Movie</a>
      </li>
    </ul>
  </div>
</nav>
