<form action="/<%= @movies.id %>" method="post">
  <div>
    <label>Title</label>
    <input type="text" name="title" value="<%= @movies.title %>" placeholder="Enter a Movie Title">
  </div>
  <div>
    <label>Release Year</label>
    <input type="number" name="release_year" value="<%= @movies.release_year %>" placeholder="Enter the year of Release">
  </div>
  <div>
    <label>Rating</label>
    <input type="text" name="rating" value="<%= @movies.rating %>" placeholder="Enter a rating">
  </div>
  <div>
    <input type="submit" value="post">
  </div>
  <% if(@movies.id) %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>
</form>
